.about-slider {
    background: #f5f5fa;
    &__title {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #323264;
        padding-top: 30px;
        margin-bottom: 30px;
    }

    &__box {
        width: 255px;
        height: 90px;
        background: #fff;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
    }
    &__box-none {
        display: none;
    }
    &__dots {
        padding-bottom: 30px;
    }
    &__img1 {
        width: 53px;
    }
    &__img2 {
        width: 106px;
    }
    &__img3 {
        width: 130px;
    }
    &__img4 {
        width: 111px;
    }
    @media (min-width: 768px) {
        .slider__button-none {
            display: none;
        }
        &__box-none {
            display: flex;
        }
        &__inner {
            display: flex;
        }
        &__box {
            width: 132px;
            height: 90px;
        }
    }
    @media (min-width: 991px) {
        &__box {
            width: 196px;
            height: 110px;
        }
        &__img1 {
            width: 80px;
        }
        &__img2 {
            width: 159px;
        }
        &__img3 {
            width: 195x;
        }
        &__img4 {
            width: 166px;
        }
    }
    @media (min-width: 1320px) {
        &__box {
            width: 300px;
            height: 110px;
        }
    }
}
