.footer {
    background: $ww;
    padding: 28px 0 2px;
    &__content,
    &__top,
    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__address {
        margin-bottom: 10px;
    }
    &__map {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $blue;
        margin-bottom: 21px;
    }
    &__fb {
        margin-bottom: 8px;

        :hover path {
            fill: $red;
        }
    }
    &__tel {
        color: $ftel;
        margin-bottom: 10px;
    }
    &__email {
        line-height: 20px;
        color: $blue;
        margin-bottom: 29px;
        transition-duration: 0.5s;
        &:hover {
            color: $red;
        }
    }
    &__copi {
        font-weight: 400;
        line-height: 20px;
        color: $grey;
    }
    @media (min-width: 768px) {
        &__content,
        &__top,
        &__bottom {
            flex-direction: row;
        }

        &__content1 {
            display: flex;
            flex-direction: column;
        }
        &__copi {
            margin-left: auto;
            align-self: start;
        }
        &__top {
            display: flex;
            align-items: baseline;
            margin-bottom: 21px;
        }

        &__address {
            font-size: 16px;
            line-height: 20px;
            color: $gb;
            position: relative;
            margin-right: 26px;
        }
        &__address::after {
            content: "";
            position: absolute;
            width: 6px;
            height: 6px;
            background-color: $wg;
            top: 7px;
            right: -16px;
            border-radius: 50%;
        }
        &__fb {
            display: contents;
        }
        &__tel {
            margin: 0 26px 0;
            position: relative;
        }
        &__tel::before,
        &__tel::after {
            content: "";
            position: absolute;
            width: 6px;
            height: 6px;
            background-color: $wg;
            top: 7px;
            border-radius: 50%;
        }
        &__tel::before {
            left: -13px;
        }

        &__tel::after {
            right: -13px;
        }
        &__bottom {
            margin-bottom: 30px;
        }
    }
}
