<<<<<<< HEAD
.title{
    color: red;
}
.menu__list{
    text-decoration: none;
    font-size: 25px;
    margin-right: 25px;
    color: green;
    list-style: none;
}
.menu{
    display: flex;
}
=======
>>>>>>> 47ffc3c37679141fc1fa39bb51d8e9e660bd6ac4
