.header {
    &__address,
    &__fb {
        display: none;
    }
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: auto auto;
    grid-template-areas:
        "top top"
        "logobox menu";

    &__top {
        background: rgba(245, 245, 250, 0.2);
        grid-area: top;
        display: flex;
        justify-content: space-between;
        padding: 15px 30px 15px 30px;
        margin: 0 -15px;
    }
    &__logo {
        grid-area: logobox;
        padding: 15px 0 10px 15px;
        position: relative;
        display: block;
        
        ::after{
            position: absolute;
            content: '';
            background: url('..img/slash.svg');
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
        }
    }
    &__menu {
        grid-area: menu;
        position: relative;
        width: 18px;
        height: 20px;
        display: block;

        span{
            position: absolute;
            content: '';
            width: 100%;
            height: 2px;
            background-color: #fff;
            top: 30px;
            right: 20px;
        }
        ::before{
            position: absolute;
            content: '';
            width: 100%;
            height: 3px;
            background-color: #fff;
            top: -6px;

        }
        ::after{
            position: absolute;
            content: '';
            width: 100%;
            height: 2px;
            background-color: #fff;
            top: 5px;
        }
    }
    &__leng-link {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1px;
        color: #ffffff;
        // margin-right: 7px;
        padding: 5px 7px;
        background-color: transparent;
    }
    &__tel {
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;

    }

}
