.idea {
    &__content {
        margin: 25px 0 24px 15px;
    }
    &__title {
        margin-bottom: 28px;
    }
    &__text1 {
        margin-bottom: 20px;
    }
    &__text1,
    &__text2 {
        font-weight: 400;
        font-size: 19px;
        line-height: 30px;
        color: $black;
    }
    &__inner {
        border-left: 4px solid #e6e6f0;
        padding-left: 49px;
    }
    &__stat {
        margin-bottom: 39px;
    }
    &__numb {
        font-size: 36px;
        line-height: 44px;
        color: $red;
        margin-bottom: 9px;
        padding-left: 38px;
    }
    &__description {
        font-size: 16px;
        line-height: 20px;
        color: $gb;
        font-weight: 400;
    }
    &__numb1 {
        background: url("../img/idea1.svg") no-repeat left 7px;
    }
    &__numb2 {
        background: url("../img/idea2.svg") no-repeat left 12px;
    }
    &__numb3 {
        background: url("../img/idea3.svg") no-repeat left 12px;
    }
    @media (min-width: 991px) {
        margin-bottom: 60px;
        &__wrap {
            display: flex;
        }
        &__content {
            margin-right: 30px;
            width: 64%;
        }
        &__inner {
            align-self: flex-start;
        }
    }
    @media (min-width: 1320px) {
        margin: 0 60px 60px 120px;
    }
}
