.provider {
    margin-bottom: 90px;
    &__title {
        font-size: 38px;
        line-height: 46px;
        text-align: center;
        color: $white;
        margin-top: 274px;
        margin-bottom: 417px;
    }
    &__parent {
        display: flex;
    }
    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        border: 2px solid $white;
        border-radius: 50%;
        margin: 0 auto;
        transition-duration: 0.5s;
        &:hover path {
            stroke: $red;
        }
        &:hover {
            border-color: $red;
        }
    }
}
