.provider {
    margin-bottom: 90px;
    &__title {
        font-size: 38px;
        line-height: 46px;
        text-align: center;
        color: #ffffff;
        margin-top: 274px;
        margin-bottom: 417px;
    }
    &__parent {
        display: flex;
    }
    &__arrow {
        display: inline-block;
        width: 42px;
        height: 42px;
        border: 2px solid #fff;
        border-radius: 50%;
        margin: 0 auto;
        background: url(../img/arrow.svg) no-repeat center;
    }
}
