.publications {
    background: $ww;
    padding: 29px 0;
    &__wrap {
        position: relative;
    }
    &::after {
        content: "";
        position: absolute;
        left: 30px;
        right: 30px;
        height: 2px;
        background: $wg;
    }
    &__inner {
        margin-bottom: 30px;
    }
    &__cart {
        background: $white;
        border-radius: 8px;
    }
    &__content {
        padding: 30px;
    }
    &__title {
        margin: 5px 0 30px;
    }
    &__img {
        border-radius: 8px 8px 0px 0px;
        height: 200px;
        width: 100%;
        object-fit: cover;
    }
    &__subtitle {
        display: inline-block;
        line-height: 20px;
        color: $blue;
        margin-bottom: 15px;
    }
    &__date {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $grey;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 4px solid $wg;
    }
    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $black;
    }
    @media (min-width: 768px) {
        padding: 29px 41px 29px 18px;
        &__title {
            margin-top: 10px;
        }
        &__wrap2 {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
        }
        &__inner2 {
            width: 50%;
            padding: 0 15px;
        }
        &__cart {
            height: 100%;
        }
        &__subtitle {
            margin-bottom: 13px;
        }
    }
    @media (min-width: 991px) {
        &__wrap2 {
            display: contents;
        }
        &__wrap {
            display: flex;
        }
        &__inner {
            width: 33.333%;
            padding: 0 15px;
        }
    }
}
