.services {
    margin-bottom: 50px;
    &__link {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $blue;
        position: relative;
        margin-bottom: 10px;
        display: inline-block;
    }

    &__link::after {
        position: absolute;
        content: "";
        background-image: url("../img/services-arrow.svg");
        background-position: 4px 3px;
        background-repeat: no-repeat;
        width: 18px;
        height: 18px;
    }
    &__title {
        color: $red;
    }
    &__cart {
        padding-top: 152px;
        position: relative;
        .title {
            font-size: 22px;
            line-height: 27px;
            color: $blue;
            margin-bottom: 15px;
        }
        .text {
            font-weight: 400;
            line-height: 26px;
            color: $white;
        }
        span {
            position: absolute;
            width: 92px;
            height: 92px;
            border-radius: 24px;
            background-color: $white;
            top: 28px;
            left: 0px;

            background-repeat: no-repeat;
            background-position: center center;
        }
    }
    &__cart1 {
        span {
            background-image: url("../img/services-1.svg");
        }
    }
    &__cart2 {
        span {
            background-image: url("../img/services-2.svg");
        }
    }
    &__cart3 {
        span {
            background-image: url("../img/services-3.svg");
        }
    }
    &__cart4 {
        span {
            background-image: url("../img/services-4.svg");
        }
    }
    &__cart5 {
        span {
            background-image: url("../img/services-5.svg");
        }
    }
    &__cart6 {
        span {
            background-image: url("../img/services-6.svg");
        }
    }
    // &__cart:last-child {
    //     padding-bottom: 30px;
    // }
    @media (min-width: 768px) {
        padding-left: 20px;
        padding-bottom: 29px;
        &__link {
            margin-bottom: 11px;
        }
        &__title {
            margin-bottom: 30px;
        }
        &__wrapper {
            display: flex;
            margin: 0 -30px;
            flex-wrap: wrap;
        }
        &__inner {
            width: 50%;
            padding: 0 30px;
        }
    }
    @media (min-width: 1024px) {
        &__inner {
            width: 33.333%;
        }
    }
    @media (min-width: 1440px) {
        &__cart {
            max-width: 385px;
        }
    }
}
.service .services {
    &__text1,
    &__text2 {
        font-weight: 400;
        text-align: center;
        margin-bottom: 28px;
        color: $white;
    }
    &__button {
        font-size: 16px;
        line-height: 20px;
        color: $white;
        display: block;
        margin: 0 auto;
        padding: 18px 20px;
        background: #24a3ff;
        box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
        border-radius: 12px;
        cursor: pointer;
        display: inline-block;
    }
    &__subtitle {
        font-size: 22px;
        line-height: 27px;
        color: $white;
        margin-bottom: 30px;
    }
    &__list1 {
        padding-left: 15px;
        color: $red;
        margin-bottom: 30px;
    }

    &__list {
        padding-bottom: 30px;
    }
    &__item {
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        color: $white;
    }
    &__inner {
        border-bottom: 4px solid rgba(255, 255, 255, 0.5);
        margin-bottom: 30px;
        margin-top: 30px;
        width: 100%;
        text-align: center;
    }
    &__cart {
        max-width: none;
        span {
            top: 28px;
            left: auto;
            transform: translateX(-50%);
        }
    }
    @media (min-width: 768px) {
        &__list {
            display: flex;
            margin: 0 -30px;
        }
        &__list1 {
            width: 50%;
            padding: 0 30px;
        }
        &__list {
            padding-bottom: 0;
        }
        &__cart {
            margin-bottom: 60px;
        }
    }
}
