.slider {
    &__wrap {
        background: #f5f5fa;
        margin-bottom: 30px;
    }
    &__img {
        width: 100%;
        display: block;
        // height: 500px;
        // object-fit: cover;
    }

    &__title {
        margin: 5px 0;
        letter-spacing: 2px;
    }
    &__content {
        padding: 22px 30px;
    }
    &__name {
        line-height: 20px;
        letter-spacing: 1px;
        color: #b3b3ba;
        margin: 30px 0 4px;
        max-width: 240px;
    }
    &__profession {
        font-size: 14px;
        line-height: 22px;
        color: #b3b3ba;
        letter-spacing: 0.7px;
    }
    &__dots {
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
    }
    &__list {
        padding: 0 7px;
    }
    &__button {
        cursor: pointer;
        width: 16px;
        height: 16px;
        border: none;
        border-radius: 50%;
        background: #24a3ff;
        opacity: 0.2;
        font-size: 0;
    }
    @media (min-width: 768px) {
        padding: 30px 41px 30px 18px;
        &__wrap {
            margin-bottom: 25px;
        }
        &__title {
            max-width: 588px;
        }
        &__name {
            margin: 6px 0;
            max-width: 280px;
        }
        &__content {
            padding-bottom: 29px;
        }
        &__dots {
            margin-bottom: 28px;
        }
    }
    @media (min-width: 1024px) {
        &__inner {
            display: flex;
        }
        &__content {
            padding: 29px 30px 0 30px;
        }
        // &__img {
        //     width: 400px;
        //     display: block;
        //     height: 100%;
        //     object-fit: cover;
        // }
    }
    @media (min-width: 1320px) {
        &__title {
            max-width: 845px;
        }
    }
}
