.trust {
    &__text {
        text-align: center;
        margin-bottom: 27px;
        text-transform: uppercase;
        margin-top: 60px;
    }
    &__cart {
        height: 120px;
    }
    &__img {
        display: block;
        margin: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    &__cart1 {
        background: $cart1;
    }
    &__cart2 {
        background: $cart2;
    }
    &__cart3 {
        background: $cart3;
    }
    &__cart4 {
        background: $cart4;
    }
    &__cart5 {
        background: $cart5;
    }
    &__cart6 {
        background: $cart6;
    }
    &__cart7 {
        background: $cart7;
    }
    &__cart8 {
        background: $cart8;
    }
    &__cart9 {
        background: $cart9;
    }
    &__cart10 {
        background: $cart10;
    }
    &__cart11 {
        background: $cart11;
    }
    &__cart12 {
        background: $black;
    }
    &__inner-tabl {
        display: none;
    }
    @media (min-width: 768px) {
        &__text {
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $gb;
            margin-bottom: 30px;
        }
        &__wrap {
            display: flex;
            flex-wrap: wrap;
        }
        &__inner {
            width: 33.333%;
        }
        &__inner-tabl {
            display: block;
        }
    }
}
