.trust {
    &__text {
        text-align: center;
        margin-bottom: 27px;
        text-transform: uppercase;
    }
    &__cart {
        height: 120px;
    }
    &__img {
        display: block;
        margin: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    &__cart1 {
        background: #1c4280;
    }
    &__cart2 {
        background: #143646;
    }
    &__cart3 {
        background: #fd9339;
    }
    &__cart4 {
        background: #9e4dc3;
    }
    &__cart5 {
        background: #fd9339;
    }
    &__cart6 {
        background: #e2e2e4;
    }
    &__cart7 {
        background: #c71c36;
    }
    &__cart8 {
        background: #dcf3f9;
    }
    &__cart9 {
        background: #eaeaea;
    }
    &__cart10 {
        background: #282240;
    }
    &__cart11 {
        background: #1d4568;
    }
    &__cart12 {
        background: #000000;
    }
    &__inner-tabl {
        display: none;
    }
    @media (min-width: 768px) {
        &__text {
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #323264;
            margin-bottom: 30px;
        }
        &__wrap {
            display: flex;
            flex-wrap: wrap;
        }
        &__inner {
            width: 33.333%;
        }
        &__inner-tabl {
            display: block;
        }
    }
}
