* {
    box-sizing: border-box;
    margin: 0;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1380px;
    min-width: 315px;
    margin: 0 auto;
    padding: 0 30px;
}
.container-big {
    min-width: 315px;
    max-width: 1440px;
    margin: 0 auto;
}
.body {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
    min-width: 315px;
}
