$red: #f0145a;
$grey: #b3b3ba;
$blue: #24a3ff;
$white: #fff;
$ww: #f5f5fa;
$wg: #e6e6f0;
$black: #000;
$gb: #323264;
$ftel: #46466e;
$modal-background: #f9f9f9;
$wrap1: #cacadb;
$wrap2: #e7e7f2;
$cart1: #1c4280;
$cart2: #143646;
$cart3: #fd9339;
$cart4: #9e4dc3;
$cart5: #fd9339;
$cart6: #e2e2e4;
$cart7: #c71c36;
$cart8: #dcf3f9;
$cart9: #eaeaea;
$cart10: #282240;
$cart11: #1d4568;
